<% provide(:title, @user.name)%>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
        </section>
    </aside>
</div>

<p>Got a question? <%= link_to 'Ask now!', new_question_path %></p>

<% unless @user.questions.nil? %>
<h2>Your recent questions</h2>
  <table>
  	<tr>
	<%@user.questions.each do |question|%>
  <td>Views: <%= question.views %></td>
  <td>Votes: <%= question.vote_count %></td>
  <td>Answers: <%= question.total_answers %></td>
	<td><%= link_to question.title , question_path(question) %><td>
	<tr>
 </table>
 <%end%>
 <%end%>
